whisperx/
OneStep.srt
_models/
.cache/
ABS_API_KEY.txt
ABS_API_KEY.txt.offline
AudioBookSlides.egg-info
temp_output.srt
books/
cuBLAS.and.cuDNN_linux_v2.7z
libcublas.so.11
libcublasLt.so.11
libcudnn_cnn_infer.so.8
libcudnn_ops_infer.so.8
whisper-faster.exe
__pycache__/
